/*CSS RESET*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

button {
  border-style: none;
}

input,
button {
  border-style: none;
  outline-color: #0b5793;
}

.addCourse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addCourse .title-AddCourse {
  border-radius: 10px;
  background: #0b5793;
  box-shadow: 0px 4px 0px 0px rgba(11, 85, 146, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: 594px;
  height: 47px;
  pointer-events: none;
  user-select: none;
  margin-bottom: 18px;
}
.addCourse .title-AddCourse .icon-AddCourse {
  width: 25px;
  height: 22px;
}
.addCourse .title-AddCourse .titleCourse {
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
}
.addCourse .Main-Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.addCourse .Main-Card .dark .Courses {
  width: 594px;
  height: 166px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
  border: 3px solid rgba(144, 144, 144, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding-inline: 35px;
}
.addCourse .Main-Card .dark .Courses .CourseName {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: start;
  gap: 4px;
}
.addCourse .Main-Card .dark .Courses .CourseName h2 {
  color: #0b5793;
  font-size: 1.25rem;
  font-weight: 700;
  pointer-events: none;
  user-select: none;
}
.addCourse .Main-Card .dark .Courses .CourseName .InputC {
  width: 523px;
  height: 36px;
  background-color: #ededed;
  border-radius: 10px;
  color: #0b5793;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
}
.addCourse .Main-Card .dark .Courses .UnitsInput {
  width: 524px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addCourse .Main-Card .dark .Courses .UnitsInput .UnitsLabel {
  color: #0b5793;
  font-size: 1.25rem;
  font-weight: 700;
  pointer-events: none;
  user-select: none;
}
.addCourse .Main-Card .dark .Courses .UnitsInput .units {
  width: 131px;
  height: 36px;
  background-color: #ededed;
  border-radius: 10px;
  color: #0b5793;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
}
.addCourse .Main-Card .Terms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 594px;
}
.addCourse .Main-Card .Terms .terms-sub {
  width: 141px;
  height: 86px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
  border: 3px solid rgba(144, 144, 144, 0.25);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 4px;
  padding-inline: 14px;
}
.addCourse .Main-Card .Terms .terms-sub h3 {
  color: #0b5793;
  font-size: 1rem;
  font-weight: 700;
}
.addCourse .Main-Card .Terms .terms-sub .inputTerms {
  width: 113px;
  height: 31px;
  background-color: #ededed;
  border-radius: 10px;
  color: #0b5793;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
.addCourse .Main-Card .buttonAdd {
  align-self: flex-end;
  width: 144px;
  height: 31px;
  border-radius: 30px;
  background: #e7c01d;
  box-shadow: 0px 4px 0px 0px rgba(231, 192, 29, 0.5);
  border: 3px solid #F3DF8E;
  display: flex;
  align-items: center;
  justify-content: end;
  transition: 0.1s cubic-bezier(0.4, 0.01, 0.04, 0.88);
}
.addCourse .Main-Card .buttonAdd .add-icons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: transform 0.1s cubic-bezier(0.4, 0.01, 0.04, 0.88);
}
.addCourse .Main-Card .buttonAdd .add-icons svg {
  width: 20px;
  height: 20px;
  transform: rotate(0deg);
  transition: transform 0.1s cubic-bezier(0.4, 0.01, 0.04, 0.88);
}
.addCourse .Main-Card .buttonAdd .add-icons h6 {
  color: #ffffff;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
  white-space: nowrap;
}
.addCourse .Main-Card .buttonAdd:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.addCourse .Main-Card .buttonAdd:hover svg {
  transform: rotate(90deg);
}
.addCourse .Main-Card .buttonAdd:active {
  transform: scale(0.9);
}
.addCourse .Main-Card .buttonAdd:active svg {
  transform: rotate(180deg);
}

@media screen and (width < 700px) {
  .addCourse .title-AddCourse {
    width: 280px;
    height: 30px;
  }
  .addCourse .title-AddCourse .icon-AddCourse {
    width: 18px;
    height: 14px;
  }
  .addCourse .title-AddCourse .titleCourse {
    font-size: 1rem;
    font-weight: 700;
  }
  .addCourse .Main-Card {
    width: 315px;
    gap: 8px;
  }
  .addCourse .Main-Card .Courses {
    width: inherit;
    height: 105px;
    gap: 8px;
    padding-inline: 22px;
  }
  .addCourse .Main-Card .Courses .CourseName h2 {
    font-size: 1rem;
  }
  .addCourse .Main-Card .Courses .CourseName .InputC {
    width: 274px;
    height: 25px;
    font-size: 0.75rem;
  }
  .addCourse .Main-Card .Courses .UnitsInput {
    width: 274px;
  }
  .addCourse .Main-Card .Courses .UnitsInput .UnitsLabel {
    font-size: 1rem;
  }
  .addCourse .Main-Card .Courses .UnitsInput .units {
    width: 72px;
    height: 25px;
    font-size: 0.75rem;
  }
  .addCourse .Main-Card .Terms {
    width: inherit;
    row-gap: 8px;
  }
  .addCourse .Main-Card .Terms .terms-sub {
    width: 155px;
    height: 41px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .addCourse .Main-Card .Terms .terms-sub .inputTerms {
    width: 40px;
    height: 25px;
    font-size: 0.75rem;
  }
  .addCourse .Main-Card .buttonAdd {
    width: 108px;
    height: 30px;
    justify-content: center;
    border-radius: 10px;
  }
  .addCourse .Main-Card .buttonAdd .add-icons {
    gap: 15px;
  }
  .addCourse .Main-Card .buttonAdd .add-icons svg {
    display: none;
    width: 18px;
    height: 18px;
  }
  .addCourse .Main-Card .buttonAdd .add-icons h6 {
    font-size: 0.75rem;
  }
}

/*# sourceMappingURL=addCourseTutorial.css.map */
