/*CSS RESET*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

button {
  border-style: none;
}

input,
button {
  border-style: none;
  outline-color: #0b5793;
}

.summary-of-Findings .summary-Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.summary-of-Findings .summary-Wrapper .summary-Title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  width: 594px;
  border-radius: 10px;
  background: #0b5793;
  box-shadow: 0px 4px 0px 0px rgba(11, 85, 146, 0.75);
}
.summary-of-Findings .summary-Wrapper .summary-Title .icon-title {
  width: 21px;
  height: 21px;
}
.summary-of-Findings .summary-Wrapper .summary-Title .TitleResult {
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  padding-block: 0.3em;
  pointer-events: none;
  user-select: none;
}
.summary-of-Findings .summary-Wrapper .SummaryTable {
  display: grid;
  grid-template-columns: 319px 95px 97px 165px 101px;
  grid-template-rows: 37px 1fr 43px 43px;
  grid-template-areas: "CourseTitle GradesTitle UnitsTitle RemarksTitle CreditsTitle" "CourseTable GradesTable UnitsTable RemarksTable CreditsTable" "TotalUnits TotalUnits GWAResult GWAResult GWAResult" "TotalCredits TotalCredits GWAResult GWAResult GWAResult";
  gap: 8px;
}
.summary-of-Findings .summary-Wrapper .SummaryTable #Course-Catalog-Title {
  grid-area: CourseTitle;
}
.summary-of-Findings .summary-Wrapper .SummaryTable .Course-Catalog-Table {
  grid-area: CourseTable;
}
.summary-of-Findings .summary-Wrapper .SummaryTable #Grades-Title {
  grid-area: GradesTitle;
}
.summary-of-Findings .summary-Wrapper .SummaryTable .Grades-Table {
  grid-area: GradesTable;
}
.summary-of-Findings .summary-Wrapper .SummaryTable #Units-Title {
  grid-area: UnitsTitle;
}
.summary-of-Findings .summary-Wrapper .SummaryTable .Units-Table {
  grid-area: UnitsTable;
}
.summary-of-Findings .summary-Wrapper .SummaryTable #Remarks-Title {
  grid-area: RemarksTitle;
}
.summary-of-Findings .summary-Wrapper .SummaryTable .Remarks-Table {
  grid-area: RemarksTable;
}
.summary-of-Findings .summary-Wrapper .SummaryTable #Credits-Title {
  grid-area: CreditsTitle;
}
.summary-of-Findings .summary-Wrapper .SummaryTable .Credits-Table {
  grid-area: CreditsTable;
}
.summary-of-Findings .summary-Wrapper .SummaryTable #TotalUnits {
  grid-area: TotalUnits;
}
.summary-of-Findings .summary-Wrapper .SummaryTable #TotalCredits {
  grid-area: TotalCredits;
}
.summary-of-Findings .summary-Wrapper .SummaryTable #GWA {
  grid-area: GWAResult;
}
.summary-of-Findings .summary-Wrapper .SummaryTable .Table-Title {
  align-self: center;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
  border: 3px solid rgba(144, 144, 144, 0.25);
  color: #0b5793;
  text-align: center;
  padding-block: 0.1em;
  pointer-events: none;
  user-select: none;
}
.summary-of-Findings .summary-Wrapper .SummaryTable .Course-Catalog-Table,
.summary-of-Findings .summary-Wrapper .SummaryTable .Grades-Table,
.summary-of-Findings .summary-Wrapper .SummaryTable .Units-Table,
.summary-of-Findings .summary-Wrapper .SummaryTable .Remarks-Table,
.summary-of-Findings .summary-Wrapper .SummaryTable .Credits-Table {
  width: 100%;
  pointer-events: none;
  user-select: none;
  gap: 5px;
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
  border: 3px solid rgba(144, 144, 144, 0.25);
  padding-block: 0.5em;
}
.summary-of-Findings .summary-Wrapper .SummaryTable .Course-Catalog-Table li,
.summary-of-Findings .summary-Wrapper .SummaryTable .Grades-Table li,
.summary-of-Findings .summary-Wrapper .SummaryTable .Units-Table li,
.summary-of-Findings .summary-Wrapper .SummaryTable .Remarks-Table li,
.summary-of-Findings .summary-Wrapper .SummaryTable .Credits-Table li {
  list-style: none;
  color: #0b5793;
  font-size: 1rem;
  font-weight: 700;
}
.summary-of-Findings .summary-Wrapper .SummaryTable .Grades-Table li,
.summary-of-Findings .summary-Wrapper .SummaryTable .Units-Table li,
.summary-of-Findings .summary-Wrapper .SummaryTable .Credits-Table li {
  align-self: center;
}
.summary-of-Findings .summary-Wrapper .SummaryTable .Remarks-Table li {
  display: flex;
  align-items: center;
  gap: 6px;
}
.summary-of-Findings .summary-Wrapper .SummaryTable .Remarks-Table li img {
  width: 18px;
  height: 18px;
}
.summary-of-Findings .summary-Wrapper .SummaryTable .Remarks-Table li h2 {
  color: #0b5793;
  font-size: 1rem;
  font-weight: 700;
}
.summary-of-Findings .summary-Wrapper .SummaryTable .Total-Units,
.summary-of-Findings .summary-Wrapper .SummaryTable .Total-Credits {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3em 1.5em;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
  border: 3px solid rgba(144, 144, 144, 0.25);
}
.summary-of-Findings .summary-Wrapper .SummaryTable .Total-Units h4,
.summary-of-Findings .summary-Wrapper .SummaryTable .Total-Credits h4 {
  color: #0b5793;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}
.summary-of-Findings .summary-Wrapper .SummaryTable .Remarks-Table li {
  padding-inline: 2px;
}
.summary-of-Findings .summary-Wrapper .SummaryTable .GWA-Result {
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
  border: 3px solid rgba(144, 144, 144, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.summary-of-Findings .summary-Wrapper .SummaryTable .GWA-Result h4 {
  color: #0b5793;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
}
.summary-of-Findings .summary-Wrapper .SummaryTable .GWA-Result .GWA-Value {
  width: 103px;
  padding-block: 0.3em;
  border-radius: 10px;
  background: #e7c01d;
  box-shadow: 0px 4px 0px 0px rgba(231, 192, 29, 0.5);
  border: 3px solid #F3DF8E;
  color: #ffffff;
}

@media screen and (width < 1000px) {
  .summary-of-Findings .SummaryTable {
    grid-template-columns: 329px 85px 165px !important;
    grid-template-rows: 37px 1fr 39px 39px !important;
    grid-template-areas: "CourseTitle GradesTitle RemarksTitle" "CourseTable GradesTable RemarksTable" "TotalUnits  GWAResult GWAResult" "TotalCredits  GWAResult GWAResult" !important;
  }
  .summary-of-Findings .SummaryTable #Units-Title,
  .summary-of-Findings .SummaryTable #Credits-Title,
  .summary-of-Findings .SummaryTable .Units-Table,
  .summary-of-Findings .SummaryTable .Credits-Table {
    display: none !important;
  }
  .summary-of-Findings .SummaryTable .Total-Units,
  .summary-of-Findings .SummaryTable .Total-Credits {
    font-size: 1rem !important;
  }
  .summary-of-Findings .SummaryTable .GWA-Result h4 {
    font-size: 1.25rem !important;
    font-weight: 700 !important;
  }
  .summary-of-Findings .SummaryTable .GWA-Result .GWA-Value {
    width: 90px !important;
  }
}
@media screen and (width < 700px) {
  .summary-of-Findings .summary-Wrapper .summary-Title {
    width: 280px;
  }
  .summary-of-Findings .summary-Wrapper .summary-Title .icon-title {
    width: 17px;
    height: 17px;
  }
  .summary-of-Findings .summary-Wrapper .summary-Title .TitleResult {
    font-size: 1rem;
    font-weight: 700;
  }
  .summary-of-Findings .summary-Wrapper .SummaryTable {
    grid-template-columns: 115px 165px !important;
    grid-template-rows: 37px 1fr 37px 1fr 39px 39px 80px !important;
    grid-template-areas: "CourseTitle CourseTitle" "CourseTable CourseTable" "GradesTitle RemarksTitle" "GradesTable RemarksTable" "TotalUnits TotalUnits" "TotalCredits TotalCredits" "GWAResult GWAResult" !important;
    gap: 8px !important;
  }
  .summary-of-Findings .summary-Wrapper .SummaryTable #Units-Title,
  .summary-of-Findings .summary-Wrapper .SummaryTable #Credits-Title,
  .summary-of-Findings .summary-Wrapper .SummaryTable .Units-Table,
  .summary-of-Findings .summary-Wrapper .SummaryTable .Credits-Table {
    display: none !important;
  }
  .summary-of-Findings .summary-Wrapper .SummaryTable .Total-Units,
  .summary-of-Findings .summary-Wrapper .SummaryTable .Total-Credits {
    font-size: 1rem !important;
  }
  .summary-of-Findings .summary-Wrapper .SummaryTable .GWA-Result h4 {
    font-size: 1.25rem !important;
    font-weight: 700 !important;
  }
  .summary-of-Findings .summary-Wrapper .SummaryTable .GWA-Result .GWA-Value {
    width: 90px !important;
  }
}

/*# sourceMappingURL=summaryOfFindings.css.map */
