/*CSS RESET*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

button {
  border-style: none;
}

input,
button {
  border-style: none;
  outline-color: #0b5793;
}

body .Tutorial-Wrapper {
  height: inherit;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
}
body .Tutorial-Wrapper .First-Layer-First,
body .Tutorial-Wrapper .First-Layer-Second,
body .Tutorial-Wrapper .First-Layer-Third,
body .Tutorial-Wrapper .Second-Layer,
body .Tutorial-Wrapper .Third-Layer,
body .Tutorial-Wrapper .Fourth-Layer,
body .Tutorial-Wrapper .Fifth-Layer,
body .Tutorial-Wrapper .Sixth-Layer,
body .Tutorial-Wrapper .Seventh-Layer {
  grid-area: 1/1;
}
body .Tutorial-Wrapper .First-Layer-First,
body .Tutorial-Wrapper .First-Layer-Second,
body .Tutorial-Wrapper .First-Layer-Third {
  pointer-events: none;
  user-select: none;
}
body .Tutorial-Wrapper .Fourth-Layer .addCourse .buttonADD {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
body .Tutorial-Wrapper .Sixth-Layer .resultWrapper .buttonREMOVE {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
body .Tutorial-Wrapper .buttonPrev {
  width: 105px;
  height: 31px;
  border-radius: 30px;
  background: #e7c01d;
  box-shadow: 0px 4px 0px 0px rgba(231, 192, 29, 0.5);
  border: 3px solid #F3DF8E;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s cubic-bezier(0.4, 0.01, 0.04, 0.88);
}
body .Tutorial-Wrapper .buttonPrev .Prev-icon {
  display: flex;
  align-items: center;
  gap: 4px;
  transition: transform 0.1s cubic-bezier(0.4, 0.01, 0.04, 0.88);
}
body .Tutorial-Wrapper .buttonPrev .Prev-icon svg {
  width: 17px;
  height: 17px;
  transform: rotate(0deg);
  transition: transform 0.1s cubic-bezier(0.4, 0.01, 0.04, 0.88);
}
body .Tutorial-Wrapper .buttonPrev .Prev-icon h6 {
  color: #ffffff;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
  white-space: nowrap;
}
body .Tutorial-Wrapper .buttonNext {
  align-self: flex-end;
  width: 70px;
  height: 31px;
  border-radius: 30px;
  background: #e7c01d;
  box-shadow: 0px 4px 0px 0px rgba(231, 192, 29, 0.5);
  border: 3px solid #F3DF8E;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s cubic-bezier(0.4, 0.01, 0.04, 0.88);
}
body .Tutorial-Wrapper .buttonNext .Next-icon {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 4px;
  transition: transform 0.1s cubic-bezier(0.4, 0.01, 0.04, 0.88);
}
body .Tutorial-Wrapper .buttonNext .Next-icon svg {
  width: 20px;
  height: 20px;
  transform: rotate(0deg);
  transition: transform 0.1s cubic-bezier(0.4, 0.01, 0.04, 0.88);
}
body .Tutorial-Wrapper .buttonNext .Next-icon h6 {
  color: #ffffff;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
  white-space: nowrap;
}
body .Tutorial-Wrapper .buttonPrev:hover,
body .Tutorial-Wrapper .buttonNext:hover {
  transform: scale(1.05);
  cursor: pointer;
}
body .Tutorial-Wrapper .buttonPrev:active,
body .Tutorial-Wrapper .buttonNext:active {
  transform: scale(0.9);
}
body .Tutorial-Wrapper .Buttons {
  align-self: flex-end;
  display: flex;
  column-gap: 6px;
}
body .Tutorial-Wrapper .BGLayer {
  grid-area: 1/1;
  height: inherit;
  background-color: rgba(7, 7, 7, 0.8);
}
body .Tutorial-Wrapper ::placeholder {
  color: #0b5793;
  font-size: 1rem;
}

@media screen and (width < 700px) {
  body .Tutorial-Wrapper .Buttons .buttonPrev {
    width: 90px;
  }
  body .Tutorial-Wrapper .Buttons .buttonPrev .Prev-icon svg {
    display: none;
  }
  body .Tutorial-Wrapper .Buttons .buttonNext {
    width: 60px;
  }
  body .Tutorial-Wrapper .Buttons .buttonNext .Next-icon svg {
    display: none;
  }
  body .Tutorial-Wrapper .buttonPrev,
  body .Tutorial-Wrapper .buttonNext {
    border-radius: 10px;
  }
  body .Tutorial-Wrapper ::placeholder {
    font-size: 0.75rem;
  }
}

/*# sourceMappingURL=tutorial.css.map */
