@import "style.scss";

$DarkBG: rgba(7, 7, 7, 0.8);

body {
	.Tutorial-Wrapper {
		height: inherit;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		align-items: center;
		justify-content: center;

		.First-Layer,
		.Second-Layer,
		.Third-Layer,
		.Fourth-Layer {
			grid-area: 1/1;
		}

		.Fourth-Layer {
			.addCourse {
				.buttonADD {
					align-self: flex-end;
					display: flex;
					flex-direction: column;
					align-items: flex-end;
				}
			}
		}

		.BGLayer {
			grid-area: 1/1;
			height: inherit;
			background-color: $DarkBG;
		}
	}

	
}
