@import "style.scss";

$DarkBG: rgba(7, 7, 7, 0.8);

body {
	.Tutorial-Wrapper {
		height: inherit;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		align-items: center;
		justify-content: center;

		.First-Layer-First,
		.First-Layer-Second,
		.Second-Layer,
		.Third-Layer,
		.Fourth-Layer,
		.Fifth-Layer,
		.Sixth-Layer {
			grid-area: 1/1;
		}

		.First-Layer-First,
		.First-Layer-Second {
			pointer-events: none;
			user-select: none;
		}

		.Fourth-Layer {
			.addCourse {
				.buttonADD {
					align-self: flex-end;
					display: flex;
					flex-direction: column;
					align-items: flex-end;
				}
			}
		}

		.Sixth-Layer {
			.resultWrapper {
				.buttonREMOVE {
					align-self: flex-end;
					display: flex;
					flex-direction: column;
					align-items: flex-end;
				}
			}
		}

		.buttonPrev {
			width: 105px;
			height: 31px;

			border-radius: 30px;
			background: $Accent01;
			box-shadow: $Button_Shadow;
			border: $Button_Border;

			display: flex;
			align-items: center;
			justify-content: center;

			transition: $transition;

			.Prev-icon {
				display: flex;
				align-items: center;
				gap: 4px;

				transition: transform $transition;

				svg {
					width: 17px;
					height: 17px;
					transform: rotate(0deg);
					transition: transform $transition;
				}

				h6 {
					color: $Main;
					text-align: center;
					font-size: 0.875rem;
					font-weight: 700;
					white-space: nowrap;
				}
			}
		}

		.buttonNext {

			align-self: flex-end;
			width: 70px;
			height: 31px;

			border-radius: 30px;
			background: $Accent01;
			box-shadow: $Button_Shadow;
			border: $Button_Border;

			display: flex;
			align-items: center;
			justify-content: center;

			transition: $transition;

			.Next-icon {
				display: flex;
				flex-direction: row-reverse;
				align-items: center;
				gap: 4px;

				transition: transform $transition;

				svg {
					width: 20px;
					height: 20px;
					transform: rotate(0deg);
					transition: transform $transition;
				}

				h6 {
					color: $Main;
					text-align: center;
					font-size: 0.875rem;
					font-weight: 700;
					white-space: nowrap;
				}
			}
		}

		.buttonPrev,
		.buttonNext {
			&:hover {
				transform: scale(1.05);

				cursor: pointer;
				// svg {
				// 	transform: rotate(360deg);
				// }
			}
			&:active {
				transform: scale(0.9);
				// svg {
				// 	transform: rotate(180deg);
				// }
			}
		}

		.Buttons {
			align-self: flex-end;
			display: flex;
			column-gap: 6px;
		}

		.BGLayer {
			grid-area: 1/1;
			height: inherit;
			background-color: $DarkBG;
		}

		::placeholder {
			color: $Accent02;
			font-size: 1rem; 
		}
	}
}

@media screen and (width < 700px) {
	body {
		.Tutorial-Wrapper {
			.Buttons {
				.buttonPrev {
					width: 90px;
					.Prev-icon {
						svg {
							display: none;
						}
					}
				}
				.buttonNext {
					width: 60px;
					.Next-icon {
						svg {
							display: none;
						}
					}
				}
			}

			.buttonPrev,
			.buttonNext {
				border-radius: 10px;
			}
			
			::placeholder {
				font-size: .75rem;
			}
		}
	}
}
