@import "style.scss";

header {
	height: 80px;
	width: 100%;
	position: fixed;
	z-index: 100;

	/* Style */
	background: $Accent02;
	border-bottom: .5rem solid $Accent01;

	padding-block: 1rem;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	justify-content: center;
	column-gap: 30vw;

	.button_links {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 43px;
	}

	.logo {
		max-width: 12rem;
	}

	a {
		color: $Main;
		font-style: normal;
		font-size: 1.25rem;
		font-weight: 700;
		line-height: normal;
		text-decoration: none;
	}
}
@media screen and (width < 1000px) {
	header {
		height: 60px;
		border-bottom: .3rem solid $Accent01;
		column-gap: 30vw;
		
		.logo {
			max-width: 8rem;
		}
		a {
			padding-block: 0.8em;
		}
	}
}

@media screen and (width < 700px) {
	header {
		height: 40px;
		background: $Accent02;
		border-bottom: .3rem solid $Accent01;
		column-gap: 20vw;

		.button_links {
			gap: 15px;

			a {
				font-size: 0.625rem;
				font-weight: 600;
				padding-block: 0.6em;
			}
		}

		.logo {
			align-self: center;
			justify-self: center;
			max-width: 6rem;
		}
	}
}
