@import "style.scss";

.resultWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.titleResult {
		width: 594px;

		border-radius: $Radius;
		background: $Accent02;
		box-shadow: $Title_Shadow;

		display: flex;
		justify-content: center;
		align-items: center;
		gap: 6px;

		margin-bottom: 18px;
		user-select: none;
		pointer-events: none;

		.result-icon-title {
			width: 23.395px;
			height: 21.875px;
		}
		svg {
			width: 24px;
			height: 22px;
		}
		h1 {
			color: $Main;
			text-align: center;
			font-size: 1.5rem;
			font-weight: 800;
			padding-block: 0.3em;
		}
	}
	.tableWrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 16px;
		.resultTable {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;

			gap: 10px;
			.tableTitle {
				width: 510px;

				user-select: none;
				pointer-events: none;

				h2 {
					border-radius: $Radius;
					background: $Main;
					box-shadow: $Box_Shadow;
					border: $Box_Border;

					color: $Accent02;
					text-align: center;
					font-size: 1.5rem;
					font-weight: 800;
					padding-block: 0.3em;
				}
			}
			.termsAndGrades {
				width: 510px;

				display: flex;
				justify-content: space-between;
				align-items: center;

				user-select: none;
				pointer-events: none;

				.terms {
					width: 120px;

					border-radius: $Radius;
					background: $Main;
					box-shadow: $Box_Shadow;
					border: $Box_Border;

					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: start;
					gap: 0px;

					padding-inline: 14px;
					padding-block: 0.8em;

					h2 {
						color: $Accent02;
						font-size: 1.25rem;
						font-weight: 700;
					}
					h3 {
						color: $Accent02;
						font-size: 1.25rem;
						font-weight: 500;
						line-height: 120.992%; /* 1.51238rem */
					}
				}
			}
			.overAllGrade {
				width: 510px;

				border-radius: $Radius;
				background: $Main;
				box-shadow: $Box_Shadow;
				border: $Box_Border;

				display: flex;
				align-items: center;
				justify-content: space-between;

				padding-inline: 14px;
				user-select: none;
				pointer-events: none;

				h2 {
					color: $Accent02;
					font-size: 1.25rem;
					font-weight: 700;
					padding-block: 0.2em;
				}
			}
			.RemoveCourseButton {
				align-self: flex-end;

				width: 115px;
				height: 31px;

				border-radius: 30px;
				background: $Accent01;
				box-shadow: $Button_Shadow;
				border: $Button_Border;

				display: flex;
				align-items: center;
				justify-content: end;

				.remove-Icon {
					display: flex;
					flex-direction: row-reverse;
					justify-content: center;
					align-items: center;
					gap: 10px;

					transition: transform $transition;

					svg {
						width: 20px;
						height: 20px;
						transform: rotate(0deg);
						transition: transform $transition;
					}

					h6 {
						color: $Main;
						text-align: center;
						font-size: 0.875rem;
						font-weight: 700;
						white-space: nowrap;

						user-select: none;
						pointer-events: none;
					}
				}
				&:hover {
					transform: scale(1.05);

					cursor: pointer;
					svg {
						transform: rotate(180deg);
					}
				}
				&:active {
					transform: scale(0.9);
					svg {
						transform: rotate(0deg);
					}
				}
			}
		}
	}
}

@media screen and (width < 700px) {
	.resultWrapper {
		.titleResult {
			width: 280px;

			.result-icon-title {
				width: 17px;
				height: 14px;
			}
			svg {
				width: 17px;
				height: 14px;
			}
			h1 {
				font-size: 1rem;
				font-weight: 700;
				padding-block: 0.2em;
			}
		}
		.tableWrapper {
			.resultTable {
				gap: 6px;

				.tableTitle {
					width: 294px;

					h2 {
						font-size: 1rem;
						padding-block: 0.3em;
					}
				}
				.termsAndGrades {
					width: 294px;

					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					gap: 6px;

					.terms {
						width: 144px;

						flex-direction: row;
						justify-content: space-between;
						align-items: center;

						padding-inline: 12px;
						padding-block: 0.3em;

						h2 {
							font-size: 1rem;
						}
						h3 {
							font-size: 0.875rem;
							font-weight: 600;
						}
					}
				}
				.overAllGrade {
					width: 294px;

					padding-inline: 10px;

					h2 {
						font-size: 1rem;
					}
				}
				.RemoveCourseButton {
					width: 90px;
					height: 30px;

					justify-content: center;
					border-radius: 10px;

					margin-top: 4px;

					.remove-Icon {
						gap: 15px;

						svg {
							display: none;
							width: 18px;
							height: 18px;
						}
						h6 {
							font-size: 0.75rem;
						}
					}
				}
			}
		}
	}
}
