@import "style.scss";

body {
	// background: url(../IMG/Pattern\ 45.png) rgba(255, 255, 255, 0) 0% 0% / 30px repeat;
	background-color: $TextBox;
	font-family: $Inter;
	display: grid;
	grid-template-rows: 80px 1fr 60px;
	grid-template-areas:
		"Header"
		"Content"
		"Footer";

	height: 100vh;

	header {
		grid-area: Header;
	}

	.contentWrapper {
		grid-area: Content;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 6rem;
		padding-block: 5rem;
	}

	footer {
		grid-area: Footer;

		display: grid;
		align-items: center;
		justify-content: center;
	}
}

@media screen and (width < 1000px) {
  body {
    grid-template-rows: 70px 1fr 40px;
  }
}

@media screen and (width < 700px) {
  body {
    grid-template-rows: 70px 1fr 30px;

		footer {
			visibility: hidden;
		}
  }
}