@import "style.scss";

.Second-Step {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;

  transform: translate(274px, 95px);
  p {
    width: 320px;

    border-radius: $Radius;
    border: $Box_Border;
    background: $Main;
    box-shadow: $Box_Shadow;
    color: $Accent02;

    font-size: 0.875rem;
    font-weight: 700;

    padding: 7px 14px;
  }
}

@media screen and (width < 700px) {
  .Second-Step {
    transform: translate(85px, 90px);

    p {
      width: 230px;

      font-size: 0.625rem;
      padding: 4px 10px;
    }
  }
}
