/*CSS RESET*/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

button {
  border-style: none;
}

input,
button {
  border-style: none;
  outline-color: #0b5793;
}

.resultWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resultWrapper .titleResult {
  width: 594px;
  border-radius: 10px;
  background: #0b5793;
  box-shadow: 0px 4px 0px 0px rgba(11, 85, 146, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 18px;
  user-select: none;
  pointer-events: none;
}
.resultWrapper .titleResult .result-icon-title {
  width: 23.395px;
  height: 21.875px;
}
.resultWrapper .titleResult svg {
  width: 24px;
  height: 22px;
}
.resultWrapper .titleResult h1 {
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  padding-block: 0.3em;
}
.resultWrapper .tableWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.resultWrapper .tableWrapper .resultTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.resultWrapper .tableWrapper .resultTable .tableTitle {
  width: 510px;
  user-select: none;
  pointer-events: none;
}
.resultWrapper .tableWrapper .resultTable .tableTitle h2 {
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
  border: 3px solid rgba(144, 144, 144, 0.25);
  color: #0b5793;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  padding-block: 0.3em;
}
.resultWrapper .tableWrapper .resultTable .termsAndGrades {
  width: 510px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  pointer-events: none;
}
.resultWrapper .tableWrapper .resultTable .termsAndGrades .terms {
  width: 120px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
  border: 3px solid rgba(144, 144, 144, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0px;
  padding-inline: 14px;
  padding-block: 0.8em;
}
.resultWrapper .tableWrapper .resultTable .termsAndGrades .terms h2 {
  color: #0b5793;
  font-size: 1.25rem;
  font-weight: 700;
}
.resultWrapper .tableWrapper .resultTable .termsAndGrades .terms h3 {
  color: #0b5793;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 120.992%; /* 1.51238rem */
}
.resultWrapper .tableWrapper .resultTable .overAllGrade {
  width: 510px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);
  border: 3px solid rgba(144, 144, 144, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 14px;
  user-select: none;
  pointer-events: none;
}
.resultWrapper .tableWrapper .resultTable .overAllGrade h2 {
  color: #0b5793;
  font-size: 1.25rem;
  font-weight: 700;
  padding-block: 0.2em;
}
.resultWrapper .tableWrapper .resultTable .RemoveCourseButton {
  align-self: flex-end;
  width: 115px;
  height: 31px;
  border-radius: 30px;
  background: #e7c01d;
  box-shadow: 0px 4px 0px 0px rgba(231, 192, 29, 0.5);
  border: 3px solid #F3DF8E;
  display: flex;
  align-items: center;
  justify-content: end;
}
.resultWrapper .tableWrapper .resultTable .RemoveCourseButton .remove-Icon {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: transform 0.1s cubic-bezier(0.4, 0.01, 0.04, 0.88);
}
.resultWrapper .tableWrapper .resultTable .RemoveCourseButton .remove-Icon svg {
  width: 20px;
  height: 20px;
  transform: rotate(0deg);
  transition: transform 0.1s cubic-bezier(0.4, 0.01, 0.04, 0.88);
}
.resultWrapper .tableWrapper .resultTable .RemoveCourseButton .remove-Icon h6 {
  color: #ffffff;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
  white-space: nowrap;
  user-select: none;
  pointer-events: none;
}
.resultWrapper .tableWrapper .resultTable .RemoveCourseButton:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.resultWrapper .tableWrapper .resultTable .RemoveCourseButton:hover svg {
  transform: rotate(180deg);
}
.resultWrapper .tableWrapper .resultTable .RemoveCourseButton:active {
  transform: scale(0.9);
}
.resultWrapper .tableWrapper .resultTable .RemoveCourseButton:active svg {
  transform: rotate(0deg);
}

@media screen and (width < 700px) {
  .resultWrapper .titleResult {
    width: 280px;
  }
  .resultWrapper .titleResult .result-icon-title {
    width: 17px;
    height: 14px;
  }
  .resultWrapper .titleResult svg {
    width: 17px;
    height: 14px;
  }
  .resultWrapper .titleResult h1 {
    font-size: 1rem;
    font-weight: 700;
    padding-block: 0.2em;
  }
  .resultWrapper .tableWrapper .resultTable {
    gap: 6px;
  }
  .resultWrapper .tableWrapper .resultTable .tableTitle {
    width: 294px;
  }
  .resultWrapper .tableWrapper .resultTable .tableTitle h2 {
    font-size: 1rem;
    padding-block: 0.3em;
  }
  .resultWrapper .tableWrapper .resultTable .termsAndGrades {
    width: 294px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
  .resultWrapper .tableWrapper .resultTable .termsAndGrades .terms {
    width: 144px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 12px;
    padding-block: 0.3em;
  }
  .resultWrapper .tableWrapper .resultTable .termsAndGrades .terms h2 {
    font-size: 1rem;
  }
  .resultWrapper .tableWrapper .resultTable .termsAndGrades .terms h3 {
    font-size: 0.875rem;
    font-weight: 600;
  }
  .resultWrapper .tableWrapper .resultTable .overAllGrade {
    width: 294px;
    padding-inline: 10px;
  }
  .resultWrapper .tableWrapper .resultTable .overAllGrade h2 {
    font-size: 1rem;
  }
  .resultWrapper .tableWrapper .resultTable .RemoveCourseButton {
    width: 90px;
    height: 30px;
    justify-content: center;
    border-radius: 10px;
    margin-top: 4px;
  }
  .resultWrapper .tableWrapper .resultTable .RemoveCourseButton .remove-Icon {
    gap: 15px;
  }
  .resultWrapper .tableWrapper .resultTable .RemoveCourseButton .remove-Icon svg {
    display: none;
    width: 18px;
    height: 18px;
  }
  .resultWrapper .tableWrapper .resultTable .RemoveCourseButton .remove-Icon h6 {
    font-size: 0.75rem;
  }
}

/*# sourceMappingURL=listOfCourses.css.map */
